.publication-links {
    /* garante que as tags fiquem no fluxo de texto */
    display: inline;
  }
  
  .social-icon {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.3em; /* espaçamento entre ícones e texto anterior */
    color: #1DB954;    /* igual ao fill do Spotify */
  }
  
  .social-icon svg {
    display: inline-block;
    vertical-align: middle;
    width: 1.2em;  /* aumenta tamanho conforme desejado */
    height: 1.2em;
  }