<!-- layouts/shortcodes/tags.html -->
{{ if .Page.Params.tags }}
<div class="flex pt-6 font-medium text-primary-600 dark:text-primary-100 text-md">
    <span class="pr-2 font-black">{{ i18n "seemore" }}</span>
    <span>
        {{ range $index, $tag := .Page.Params.tags }}
        <a href="{{ printf "/tags/%s" ($tag | urlize) | absLangURL }}" class="inline-flex items-center rounded-md bg-gray-300 hover:bg-primary-200 hover:text-black px-2.5 py-0.5 text-sm font-medium text-gray-900 no-underline">
            {{ i18n $tag }}
        </a>{{ if ne $index (sub (len $.Page.Params.tags) 1) }}, {{ end }}
        {{ end }}
    </span>
</div>
{{ end }}