{{ $caput := .Get "caput" }}
{{ $showSummary := .Get "showSummary" | default true }}
{{ $showDescription := .Get "showDescription" | default true }}
{{ $filterTags := split (.Get "tags") "," }}
{{ $filterCategories := split (.Get "categories") "," }}
{{ $excludeTags := split (.Get "notags") "," }} 
{{ $filterAdvisors := split (.Get "advisors") "," }}

{{ $hasMatches := false }}
{{ range sort $.Site.Data.people.people "year" "desc" }}
  {{ $include := true }}
  {{ $person := . }}
  
  <!-- Lógica de filtragem para tags -->
  {{ if and $include (gt (len $filterTags) 0) (ne (index $filterTags 0) "") }}
    {{ $tagMatch := false }}
    {{ range $filterTags }}
      {{ if in $person.tags . }}
        {{ $tagMatch = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if not $tagMatch }}
      {{ $include = false }}
    {{ end }}
  {{ end }}

  <!-- Lógica de filtragem para categories -->
  {{ if and $include (gt (len $filterCategories) 0) (ne (index $filterCategories 0) "") }}
    {{ $categoryMatch := false }}
    {{ range $filterCategories }}
      {{ if in $person.categories . }}
        {{ $categoryMatch = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if not $categoryMatch }}
      {{ $include = false }}
    {{ end }}
  {{ end }}

  <!-- Lógica de filtragem para exclude tags -->
  {{ if and $include (gt (len $excludeTags) 0) (ne (index $excludeTags 0) "") }}
    {{ range $excludeTags }}
      {{ if in $person.tags . }}
        {{ $include = false }}
        {{ break }}
      {{ end }}
    {{ end }}
  {{ end }}

  <!-- Lógica de filtragem para advisors -->
  {{ if and $include (gt (len $filterAdvisors) 0) (ne (index $filterAdvisors 0) "") }}
    {{ $advisorMatch := false }}
    {{ range $filterAdvisors }}
      {{ if in $person.advisors . }}
        {{ $advisorMatch = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if not $advisorMatch }}
      {{ $include = false }}
    {{ end }}
  {{ end }}

  {{ if $include }}
    {{ $hasMatches = true }}
    {{ break }}
  {{ end }}
{{ end }}

<div>
    {{ if $hasMatches }}
      {{ if $caput }}
        <div class="caput-content">
            {{ $caput | markdownify }}
        </div>
      {{ end }}
      <ul>
        {{ range sort $.Site.Data.people.people "year" "desc" }}
          {{ $include := true }}
          {{ $person := . }}

  <!-- Lógica de filtragem para tags -->
  {{ if and $include (gt (len $filterTags) 0) (ne (index $filterTags 0) "") }}
    {{ $tagMatch := false }}
    {{ range $filterTags }}
      {{ if in $person.tags . }}
        {{ $tagMatch = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if not $tagMatch }}
      {{ $include = false }}
    {{ end }}
  {{ end }}

  <!-- Lógica de filtragem para categories -->
  {{ if and $include (gt (len $filterCategories) 0) (ne (index $filterCategories 0) "") }}
    {{ $categoryMatch := false }}
    {{ range $filterCategories }}
      {{ if in $person.categories . }}
        {{ $categoryMatch = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if not $categoryMatch }}
      {{ $include = false }}
    {{ end }}
  {{ end }}

  <!-- Lógica de filtragem para exclude tags -->
  {{ if and $include (gt (len $excludeTags) 0) (ne (index $excludeTags 0) "") }}
    {{ range $excludeTags }}
      {{ if in $person.tags . }}
        {{ $include = false }}
        {{ break }}
      {{ end }}
    {{ end }}
  {{ end }}

  <!-- Lógica de filtragem para advisors -->
  {{ if and $include (gt (len $filterAdvisors) 0) (ne (index $filterAdvisors 0) "") }}
    {{ $advisorMatch := false }}
    {{ range $filterAdvisors }}
      {{ if in $person.advisors . }}
        {{ $advisorMatch = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if not $advisorMatch }}
      {{ $include = false }}
    {{ end }}
  {{ end }}

  {{ if $include }}
  <li x-data="{ open: false }">
    <span><strong>{{ $person.name }}</strong></span>.
    <span>{{ if .url }}<a href="{{ .url }}">{{ end }}
          {{ index .title $.Site.Language.Lang }}
        {{ if .url }}</a>{{ end }}.</span>
            {{ if $person.program }}<span>{{ $person.program | i18n }},</span>{{ end }}
            {{ if $person.year }}<span>({{ $person.year }}).</span>{{ end }}

            <!-- Exibição de advisors, tags, e o resumo com controle do Alpine.js -->
            {{ i18n "orientador" }}:
            {{ range .advisors }}
              {{ with index $.Site.Data.people.advisors . }}
                <a href="{{ .link | absLangURL }}">{{ .name }}</a>
              {{ end }}
            {{ end }}
            
            . Tags:
            {{ $filteredTags := slice }}
            {{ range .tags }}
              {{ if and (ne . "active") (ne . "inactive") }}
                {{ $filteredTags = $filteredTags | append . }}
              {{ end }}
            {{ end }}
            {{ $total := len $filteredTags }}
            {{ range $index, $tag := $filteredTags }}
              {{ $tagLink := printf "/tags/%s" $tag | absLangURL }}
              <a href="{{ $tagLink }}">{{ $tag | i18n }}</a>{{ if lt $index (sub $total 1) }}, {{ end }}
            {{ end }}.
            

            {{ if .summary }}
            {{ $currentLangSummary := index .summary $.Site.Language.Lang }}
            {{ if $currentLangSummary }}
              <div>
                <!-- Botão com a cor primária e texto em branco -->
                <button @click="open = !open" class="bg-primary-500 text-white p-2 rounded cursor-pointer">
                  {{ i18n "abstract" }}
                </button>
                <!-- Div com texto usando uma cor neutra escura para melhor legibilidade -->
                <div x-show="open" class="mt-2 pl-4 font-serif" x-cloak>
                  <span class="text-neutral-700 text-sm">{{ $currentLangSummary }}</span>
                </div>
              </div>
            {{ end }}
          {{ end }}
        </li>
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}
</div>


{{ $hasMatches2 := false }}
{{ range sort $.Site.RegularPages "Title" }}
    {{ $thisPage := . }}
    {{ $include := true }}
    
    <!-- Verificação de Tags -->
    {{ if and $include (gt (len $filterTags) 0) (ne (index $filterTags 0) "") }}
    {{ $tagsMatch := true }}
    {{ range $filterTags }}
        {{ $currentTag := trim . " " }}
        {{ if not (in $thisPage.Params.tags $currentTag) }}
        {{ $tagsMatch = false }}
        {{ break }}
        {{ end }}
    {{ end }}
    {{ if not $tagsMatch }}
        {{ $include = false }}
    {{ end }}
    {{ end }}

    <!-- Verificação de Categorias -->
    {{ if and $include (gt (len $filterCategories) 0) (ne (index $filterCategories 0) "") }}
    {{ $categoriesMatch := true }}
    {{ range $filterCategories }}
        {{ $currentCategory := trim . " " }}
        {{ if not (in $thisPage.Params.categories $currentCategory) }}
        {{ $categoriesMatch = false }}
        {{ break }}
        {{ end }}
    {{ end }}
    {{ if not $categoriesMatch }}
        {{ $include = false }}
    {{ end }}
    {{ end }}

    <!-- Verificação de 'Não Tags' -->
    {{ if and $include (gt (len $excludeTags) 0) (ne (index $excludeTags 0) "") }}
    {{ range $excludeTags }}
        {{ $currentNoTag := trim . " " }}
        {{ if in $thisPage.Params.tags $currentNoTag }}
        {{ $include = false }}
        {{ break }}
        {{ end }}
    {{ end }}
    {{ end }}

    {{ if $include }}
    {{ $hasMatches2 = true }}
    {{ break }}
    {{ end }}
{{ end }}

{{ if $hasMatches2  }}
    {{ if and $caput (not $hasMatches) }}
    <div class="caput">{{ $caput | markdownify }}</div>
    {{ end }}
    <ul>
    {{ range sort $.Site.RegularPages "Title" }}
        {{ $thisPage := . }}
        {{ $include := true }}

        <!-- Tags, Categorias, e 'Não Tags' -->
        {{ if and $include (gt (len $filterTags) 0) (ne (index $filterTags 0) "") }}
        {{ $tagsMatch := true }}
        {{ range $filterTags }}
            {{ $currentTag := trim . " " }}
            {{ if not (in $thisPage.Params.tags $currentTag) }}
            {{ $tagsMatch = false }}
            {{ break }}
            {{ end }}
        {{ end }}
        {{ if not $tagsMatch }}
            {{ $include = false }}
        {{ end }}
        {{ end }}

        {{ if and $include (gt (len $filterCategories) 0) (ne (index $filterCategories 0) "") }}
        {{ $categoriesMatch := true }}
        {{ range $filterCategories }}
            {{ $currentCategory := trim . " " }}
            {{ if not (in $thisPage.Params.categories $currentCategory) }}
            {{ $categoriesMatch = false }}
            {{ break }}
            {{ end }}
        {{ end }}
        {{ if not $categoriesMatch }}
            {{ $include = false }}
        {{ end }}
        {{ end }}

        {{ if and $include (gt (len $excludeTags) 0) (ne (index $excludeTags 0) "") }}
        {{ range $excludeTags }}
            {{ $currentNoTag := trim . " " }}
            {{ if in $thisPage.Params.tags $currentNoTag }}
            {{ $include = false }}
            {{ break }}
            {{ end }}
        {{ end }}
        {{ end }}

        {{ if $include }}
        <li>
            <span><strong><a href="{{ $thisPage.Permalink }}">{{ $thisPage.Title }}</a></strong></span>
            {{ if and $showSummary $thisPage.Summary }}
            <span> - {{ $thisPage.Summary }}</span>
            {{ end }}
            {{ if and $showDescription (isset $thisPage.Params "description") }}
            <span> {{ $thisPage.Params.description }}</span>
            {{ end }}
        </li>
        {{ end }}
    {{ end }}
    </ul>
{{ end }}